body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;

}

p {
    font-family: sans-serif;
    font-size: 18px;
    color: black;   
}

h2 {
    font-family: sans-serif;
    font-size: 32px;
    color: black;  
    font-weight: 600;
}

h3 {
    font-family: sans-serif;
    font-size: 24px;
    color: black;  
    font-weight: 600;
}

.navbar-brand {
    font-family: sans-serif;
    font-size: 36px;
    color: black;
    font-weight: 500;
}

.nav-link {
    font-family: sans-serif;
    font-size: 32px;
}


.card > img {
    height:250px
}

.container {
    font-family: sans-serif;
}



